<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | LA PESCA</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <environment include="Development">
        @*<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link rel="stylesheet" href="~/chartist/css/chartist.min.css">
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/responsive.css">
        <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/sweetalert2.min.css">

        <!--fontawesome-all.min.js-->
        <script src="~/js/fontawesome-all.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/datatables.net/jquery.dataTables.min.js"></script>
        <script src="~/js/sweetalert2.all.min.js"></script>
    </environment>
    @RenderSection("HeaderScripts", required: false)
</head>
<body>
    @await Html.PartialAsync("_Preloader")
    <div id="wrapper">

        <!-- navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="index.html">
                    <img src="~/images/logo-la-pesca.png" alt="Logo" />
                </a>
            </div><!--/.brand -->
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth">
                        <i class="lnr lnr-arrow-left-circle"></i>
                    </button>
                </div><!--/.navbar-btn -->
                <div class="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/images/dashboard/parson.png" class="img-circle" alt="parson-img">
                                <i class="icon-submenu fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="lnr lnr-exit"></i> <span>Cerrar sesión</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--/.container-fluid -->

        </nav><!--/nav -->
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">

                        <li class="active">
                            <a href='@Url.Action("Index", "Dashboard")'>
                                <i data-feather="home"></i> <span>Dashboard</span>
                            </a>
                        </li>

                        <li>
                            <a href='@Url.Action("Index", "Client")'>
                                <i data-feather="package"></i> <span>Clientes</span>
                            </a>
                        </li>

                        <li>
                            <a href='@Url.Action("Index", "Dish")'>
                                <i data-feather="file-text"></i> <span>Platos</span>
                            </a>
                        </li>

                        <li>
                            <a href='@Url.Action("MyDeliveries", "Delivery")'>
                                <i data-feather="grid"></i> <span>Mis entregas</span>
                            </a>
                        </li>

                        <li>
                            <a href='@Url.Action("Index", "Delivery")'>
                                <i data-feather="grid"></i> <span>Nuevos pedidos</span>
                            </a>
                        </li>

                        <li>
                            <a href='@Url.Action("Index", "Invoice")'>
                                <i data-feather="grid"></i> <span>Ventas</span>
                            </a>
                        </li>

                        <li>
                            <a href='@Url.Action("Index", "User")'>
                                <i data-feather="map"></i> <span>Usuarios</span>
                            </a>
                        </li>
                </nav>
            </div>

        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">

            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid" style="min-height: 70vh;">
                    @RenderBody()
                </div><!--/.container-fluid-->;

            </div><!--/.main-content-->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer class="mt-4">
            <div class="container-fluid">
                <p>&copy; 2021 <a href="#">La Pesca</a>. Reservados todos los derechos.</p>
            </div>

        </footer>

    </div>

    <environment include="Development">

        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        @*<script src="~/bootstrap/js/bootstrap.js"></script>*@
        <script src="~/js/dashboard/dashboard.js"></script>

        <!--bootstrap.min.js-->
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/dataTables.bootstrap3.min.js"></script>
    </environment>
    <!--jquery-1.12.4.min.js-->
    @*<script src="~/js/jquery.min.js"></script>*@


    <!--chartist.min.js-->
    @*<script src="~/js/chartist/js/chartist.min.js"></script>
        <script src="~/js/chartist/js/chartist-tooltip-plugin.js"></script>
        <script src="~/js/chartist/js/chartist-custom.js"></script>*@

    <!--jquery.slimscroll.min.js-->
    <script src="~/js/jquery.slimscroll.min.js"></script>

    <!--feather.min.js-->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

    <!--Custom JS-->
    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>