@{
    Uri url = new Uri(String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host));
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | LA PESCA</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <environment include="Development">
        <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link rel="stylesheet" href="~/css/pushbar.css" />
        <link rel="stylesheet" href="~/css/sweetalert2.min.css">
        <link rel="stylesheet" href="~/css/master.css" />
    </environment>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>
        //var base_url = 'http://localhost/Pesca';
        var base_url = 'http://localhost:12681';
    </script>
    @RenderSection("HeaderScript", required: false)
</head>
<body class="animate__animated animate__fadeIn">

    @await Html.PartialAsync("_Preloader")
    @*<partial name="_CookieConsentPartial" />*@

    <div class="wrap-main">
        @RenderBody()
        <div data-pushbar-id="pushbar-cart" data-pushbar-direction="right" class="pushbar from_right pushbar-carrito">
            <div class="btn-cerrar derecha">
                <button data-pushbar-close class="btn"><i class="fa fa-times"></i></button>
            </div>
            <h5 class="text-center">Mi Pedido</h5>
            <hr class="separator" />
            <label>TOTAL: $<span id="subtotal-cart"></span></label>
            <button onclick='window.location = "@Url.Action("Index", "Cart")"' class="btn btn-block back-primary" id="btn_order">ORDENAR</button>
            <button class="btn btn-secondary btn-block" id="btn_empty_cart">VACIAR CARRITO</button>
            <hr />
            <div id="wrap-cart-items">
                <ul class="order-items">
                    <li>El carrito está vacío.</li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="bg-black text-white text-center pt-2">
        <p>&copy; 2021 La Pesca. Reservados todos los derechos.</p>
    </footer>
    <environment include="Development">

        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/sweetalert2.all.min.js"></script>
        <script src="~/js/main.js"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>